<tr>
  <td
    style="
      width: 200px;
      padding: 0px 0px 10px 0px;
      background-color: <%= themePrimaryBackground %>;
    "
  ></td>
  <td
    style="
      width: 500px;
      padding: 0px 0px 10px 0px;
      background-color: <%= themeContentBackground %>;
      border-bottom: 1px solid <%= themePrimaryBackground %>;
    "
    colspan="2"
  ></td>
  <td
    style="
      width: 200px;
      padding: 0px 0px 10px 0px;
      background-color: <%= themePrimaryBackground %>;
    "
  ></td>
</tr>
<tr>
  <td
    style="
      width: 200px;
      padding: 40px 0px 50px 0px;
      background-color: <%= themePrimaryBackground %>;
    "
  ></td>
  <td
    style="
      width: 500px;
      padding: 40px 40px 50px 40px;
      background-color: <%= themeContentBackground %>;
      vertical-align: middle;
      font-size: 16px;
      font-weight: 700;
      color: <%= themeSecondaryText %>;
      text-align: center;
      font-family: Helvetica, Arial, sans-serif;
    "
    colspan="2"
  >
    Thank you for choosing
    <a
      href="<%= site %>"
      style="
        color: <%= themeButtonBackground %>;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
      "
      target="_blank"
      ><span><%= companyName %></span></a
    >
  </td>
  <td
    style="
      width: 200px;
      padding: 40px 0px 50px 0px;
      background-color: <%= themePrimaryBackground %>;
    "
  ></td>
</tr>
<tr>
  <td
    style="
      width: 200px;
      padding: 28px 0px 40px 0px;
      background-color: <%= themePrimaryBackground %>;
    "
  ></td>
  <td
    style="
      width: 428px;
      padding: 28px 0px 40px 12px;
      background-color: <%= themePrimaryBackground %>;
      vertical-align: middle;
      font-size: 14px;
      font-weight: normal;
      color: <%= themeFooterText %>;
      text-align: left;
      font-family: Helvetica, Arial, sans-serif;
    "
  >
    Copyright © <%= companyName %>. All rights reserved.
  </td>
  <td
    style="
      width: 140px;
      padding: 28px 0px 40px 0px;
      background-color: <%= themePrimaryBackground %>;
      vertical-align: middle;
      font-size: 14px;
      font-weight: normal;
      color: <%= themeFooterText %>;
      text-align: right;
      font-family: Helvetica, Arial, sans-serif;
    "
  ></td>
  <td
    style="
      width: 200px;
      padding: 28px 0px 40px 0px;
      background-color: <%= themePrimaryBackground %>;
    "
  ></td>
</tr>
