<tr>
  <td
    style="
      width: 580px;
      padding: 50px 0px 30px 0px;
      background-color: <%= themeContentBackground %>;
      vertical-align: middle;
      font-size: 22px;
      font-weight: bold;
      color: <%= themeContentText %>;
      text-align: center;
      font-family: Helvetica, Arial, sans-serif;
    "
    colspan="2"
  >
    <img
      src="https://i.imgur.com/zahjEWM.png"
      width="64"
      alt="Safe"
      style="outline: none"
    />
  </td>
</tr>
<tr>
  <td
    style="
      width: 500px;
      padding: 0px 40px 17px 40px;
      background-color: <%= themeContentBackground %>;
      vertical-align: middle;
      font-size: 22px;
      font-weight: 700;
      color: <%= themeSecondaryText %>;
      text-align: center;
      font-family: Helvetica, Arial, sans-serif;
    "
    colspan="2"
  >
    TFA CODE
  </td>
</tr>
<tr>
  <td
    style="
      width: 500px;
      padding: 0px 40px 0px 40px;
      background-color: <%= themeContentBackground %>;
      vertical-align: middle;
      font-size: 14px;
      font-weight: 400;
      color: <%= themeSecondaryText %>;
      line-height: 150%;
      font-family: Helvetica, Arial, sans-serif;
    "
    colspan="2"
  >
    <div
      style="
        padding: 10px;
        margin: 30px 0px;
        color: <%= themeText %>;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
      "
    >
      <span
        style="
          padding: 10px;
          margin: 30px 0px;
          font-size: 48px;
          border: 1px solid <%= themeAccent %>;
          border-radius: 3px;
          font-weight: 700;
          color: <%= themeSecondaryText %>;
        "
        ><%= code %></span
      >
    </div>
  </td>
</tr>
<tr>
  <td
    style="
      width: 500px;
      padding: 40px 40px 0px 40px;
      background-color: <%= themeContentBackground %>;
      vertical-align: middle;
      font-size: 14px;
      font-weight: 400;
      color: <%= themeSecondaryText %>;
      line-height: 150%;
      font-family: Helvetica, Arial, sans-serif;
    "
    colspan="2"
  >
    <span style="color: inherit; display: block"
      >This code remains valid for 5 minutes. <br /><br
    /></span>
    <span style="color: inherit; display: block"
      >Do not disclose it to anyone (including <%= companyName %> staff).<br /><br
    /></span>
    <span style="color: inherit; display: block"
      >The authentication attempt was made from IP: <%=ipClient%> <br /><br
    /></span>
    <span style="color: inherit; display: block"
      >If you did not make this authentication attempt, you should change your
      password for <%= companyName %> immediately, as whoever made this request
      has your current password.<br /><br
    /></span>
  </td>
</tr>
<tr>
  <td
    style="
      width: 500px;
      padding: 10px 40px 0px 40px;
      background-color: <%= themeContentBackground %>;
      vertical-align: middle;
      font-size: 14px;
      font-weight: 400;
      color: <%= themeSecondaryText %>;
      line-height: 150%;
      font-family: Helvetica, Arial, sans-serif;
    "
    colspan="2"
  >
    This email contains private information about your account. Please don't
    resend it. Do you have any questions about how to use our service? Write to
    our support. Remember that our customer service team can also assist you in
    English.<br /><br />
  </td>
</tr>
<tr>
  <td
    style="
      width: 500px;
      padding: 40px 40px 0px 40px;
      background-color: <%= themeContentBackground %>;
      vertical-align: middle;
      font-size: 14px;
      font-weight: bold;
      color: <%= themeSecondaryText %>;
      text-align: center;
      font-family: Helvetica, Arial, sans-serif;
    "
    colspan="2"
  >
    <a
      href="<%= site %>"
      style="
        background: <%= themeButtonBackground %>;
        padding: 16px;
        color: <%= themeButtonText %>;
        text-decoration: none;
        border-radius: 4px;
        border-color: <%= themeButtonText %>;
      "
      target="_blank"
      >Log In To Your Account</a
    >
  </td>
</tr>
<tr>
  <td
    style="
      width: 500px;
      padding: 0px 0px 34px 0px;
      background-color: <%= themeContentBackground %>;
    "
    colspan="2"
  ></td>
</tr>
