<td
  style="
    width: 200px;
    padding: 0px 0px 10px 0px;
    background-color: <%= themePrimaryBackground %>;
    vertical-align: top;
  "
>
  <div
    style="background-color: <%= themeHeaderBackground %>; height: 235px"
  ></div>
</td>
<td
  style="
    width: 500px;
    padding: 0;
    background-color: <%= themeContentBackground %>;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 400;
    color: <%= themeContentText %>;
    font-family: Helvetica, Arial, sans-serif;
  "
  colspan="2"
>
  <table style="border-collapse: collapse; width: 100%">
    <%- include('main-content-sections.template.ejs') %>
  </table>
</td>
<td
  style="
    width: 200px;
    padding: 0px 0px 10px 0px;
    background-color: <%= themePrimaryBackground %>;
    vertical-align: top;
  "
>
  <div
    style="background-color: <%= themeHeaderBackground %>; height: 235px"
  ></div>
</td>
