<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="margin: 0; background-color: #e6e9eb; color: #060f1d; padding: 0">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
      <!-- HEADER ROW -->
      <tr>
        <td style="
              width: 10%;
              padding: 25px 0px 32px 0px;
              background-color: #060f1d;
            "></td>
        <td style="
              width: 50%;
              padding: 25px 0px 32px 0px;
              background-color: #060f1d;
              vertical-align: middle;
              font-size: 20px;
              font-weight: bold;
              color: #ffffff;
              text-align: left;
              font-family: Helvetica, Arial, sans-serif;
            ">
          <img src="<%= logo %>" width="20" alt="Logo" />
          <span style="position: relative; top: -2px; font-size: 20px"><span style="color: #ffffff"><%= companyName %></span></span>
        </td>
        <td style="
              width: 30%;
              padding: 20px 0px 25px 0px;
              background-color: #060f1d;
              vertical-align: middle;
              font-size: 14px;
              font-weight: bold;
              color: #ffffff;
              text-align: right;
              font-family: Helvetica, Arial, sans-serif;
            ">
          <a href="<%= site %>" style="
                background: #00ff7f;
                padding: 16px;
                color: #ffffff;
                text-decoration: none;
                border-radius: 4px;
              " target="_blank">
            Log In
          </a>
        </td>
        <td style="
              width: 10%;
              padding: 25px 0px 32px 0px;
              background-color: #060f1d;
            "></td>
      </tr>
      <!-- CONTENT ROW -->
      <tr>
        <td style="
              width: 200px;
              padding: 0px 0px 10px 0px;
              background-color: #e6e9eb;
              vertical-align: top;
            ">
          <div style="background-color: #060f1d; height: 235px"></div>
        </td>
        <!-- MAIN CONTENT -->
        <td style="
              width: 500px;
              padding: 0;
              background-color: #ffffff;
              vertical-align: middle;
              font-size: 18px;
              font-weight: 400;
              color: #616366;
              font-family: Helvetica, Arial, sans-serif;
            " colspan="2">
          <table style="border-collapse: collapse; width: 100%">
            <tbody>
              <tr>
                <td style="
                      width: 580px;
                      padding: 50px 0px 30px 0px;
                      background-color: #ffffff;
                      vertical-align: middle;
                      font-size: 22px;
                      font-weight: bold;
                      color: #616366;
                      text-align: center;
                      font-family: Helvetica, Arial, sans-serif;
                    " colspan="2">
                  <img src="https://i.imgur.com/zahjEWM.png" width="64" alt="Safe" style="outline: none" />
                </td>
              </tr>
              <tr>
                <td style="
                      width: 500px;
                      padding: 0px 40px 17px 40px;
                      background-color: #ffffff;
                      vertical-align: middle;
                      font-size: 22px;
                      font-weight: 700;
                      color: #2d363d;
                      text-align: center;
                      font-family: Helvetica, Arial, sans-serif;
                    " colspan="2">
                  TFA CODE
                </td>
              </tr>
              <tr>
                <td style="
                      width: 500px;
                      padding: 0px 40px 0px 40px;
                      background-color: #ffffff;
                      vertical-align: middle;
                      font-size: 14px;
                      font-weight: 400;
                      color: #2d363d;
                      line-height: 150%;
                      font-family: Helvetica, Arial, sans-serif;
                    " colspan="2">
                  <div style="
                        padding: 10px;
                        margin: 30px 0px;
                        color: #616366;
                        font-family: Helvetica, Arial, sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        text-align: center;
                      ">
                    <span style="
                          padding: 10px;
                          margin: 30px 0px;
                          font-size: 48px;
                          border: 1px solid #40c778;
                          border-radius: 3px;
                          font-weight: 700;
                          color: #2d363d;
                        "><%=code%></span>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="
                      width: 500px;
                      padding: 0px 40px 40px 40px;
                      background-color: #ffffff;
                      vertical-align: middle;
                      font-size: 14px;
                      font-weight: 400;
                      color: #616366;
                      line-height: 150%;
                      font-family: Helvetica, Arial, sans-serif;
                      text-align: center;
                    " colspan="2">
                  <span style="color: inherit">Hello <%=username%> This email contains your 2-factor
                    authentication code to complete your request at <%=
                      companyName %>.
                  </span>
                </td>
              </tr>
              <tr>
                <td style="
                      width: 580px;
                      padding: 0px 0px 20px 0px;
                      background-color: #e6e9eb;
                    " colspan="2"></td>
              </tr>
              <tr>
                <td style="
                      width: 500px;
                      padding: 40px 40px 0px 40px;
                      background-color: #ffffff;
                      vertical-align: middle;
                      font-size: 14px;
                      font-weight: 400;
                      color: #616366;
                      line-height: 150%;
                      font-family: Helvetica, Arial, sans-serif;
                    " colspan="2">
                  <span style="color: inherit; display: block">This code remains valid for 5 minutes. <br /><br />
                  </span>
                  <span style="color: inherit; display: block">
                    Do not disclose it to anyone (including <%= companyName %>
                    staff).<br /><br />
                  </span>
                  <span style="color: inherit; display: block">The login attempt was made from IP: <%=ipClient%>
                    <br /><br /></span>
                  <span style="color: inherit; display: block">If you did not make this login attempt, you should change
                    your password for <%= companyName %> immediately, as
                    whoever made this request has your current password.<br /><br /></span>
                </td>
              </tr>
              <tr>
                <td style="
                      width: 500px;
                      padding: 10px 40px 0px 40px;
                      background-color: #ffffff;
                      vertical-align: middle;
                      font-size: 14px;
                      font-weight: 400;
                      color: #616366;
                      line-height: 150%;
                      font-family: Helvetica, Arial, sans-serif;
                    " colspan="2">
                  This email contains private information about your account.
                  Please don't resend it. Do you have any questions about how
                  to use our service? Write to our support. Remember that our
                  customer service team can also assist you in English.
                  <br /><br />
                </td>
              </tr>
              <tr>
                <td style="
                      width: 500px;
                      padding: 40px 40px 0px 40px;
                      background-color: #ffffff;
                      vertical-align: middle;
                      font-size: 14px;
                      font-weight: bold;
                      color: #616366;
                      text-align: center;
                      font-family: Helvetica, Arial, sans-serif;
                    " colspan="2">
                  <a href="<%= site %>" style="
                        background: #00ff7f;
                        padding: 16px;
                        color: #ffffff;
                        text-decoration: none;
                        border-radius: 4px;
                      " target="_blank">
                    Log In To Your Account
                  </a>
                </td>
              </tr>
              <tr>
                <td style="
                      width: 500px;
                      padding: 0px 0px 34px 0px;
                      background-color: #ffffff;
                    " colspan="2"></td>
              </tr>
            </tbody>
          </table>
        </td>
        <td style="
              width: 200px;
              padding: 0px 0px 10px 0px;
              background-color: #e6e9eb;
              vertical-align: top;
            ">
          <div style="background-color: #060f1d; height: 235px"></div>
        </td>
      </tr>
      <tr>
        <td style="
              width: 200px;
              padding: 0px 0px 10px 0px;
              background-color: #e6e9eb;
            "></td>
        <td style="
              width: 500px;
              padding: 0px 0px 10px 0px;
              background-color: #ffffff;
              border-bottom: 1px solid #e6e9eb;
            " colspan="2"></td>
        <td style="
              width: 200px;
              padding: 0px 0px 10px 0px;
              background-color: #e6e9eb;
            "></td>
      </tr>
      <tr>
        <td style="
              width: 200px;
              padding: 40px 0px 50px 0px;
              background-color: #e6e9eb;
            "></td>
        <td style="
              width: 500px;
              padding: 40px 40px 50px 40px;
              background-color: #ffffff;
              vertical-align: middle;
              font-size: 16px;
              font-weight: 700;
              color: #2d363d;
              text-align: center;
              font-family: Helvetica, Arial, sans-serif;
            " colspan="2">
          Thank you for choosing
          <a href="<%= site %>" style="
                color: #00ff7f;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 16px;
                font-weight: 700;
                text-decoration: none;
              " target="_blank"><span><%= companyName %></span></a>
        </td>
        <td style="
              width: 200px;
              padding: 40px 0px 50px 0px;
              background-color: #e6e9eb;
            "></td>
      </tr>
      <tr>
        <td style="
              width: 200px;
              padding: 28px 0px 40px 0px;
              background-color: #e6e9eb;
            "></td>
        <td style="
              width: 428px;
              padding: 28px 0px 40px 12px;
              background-color: #e6e9eb;
              vertical-align: middle;
              font-size: 14px;
              font-weight: normal;
              color: #949da8;
              text-align: left;
              font-family: Helvetica, Arial, sans-serif;
            ">
          Copyright © <%= companyName %>. All rights reserved.
        </td>
        <td style="
              width: 140px;
              padding: 28px 0px 40px 0px;
              background-color: #e6e9eb;
              vertical-align: middle;
              font-size: 14px;
              font-weight: normal;
              color: #949da8;
              text-align: right;
              font-family: Helvetica, Arial, sans-serif;
            "></td>
        <td style="
              width: 200px;
              padding: 28px 0px 40px 0px;
              background-color: #e6e9eb;
            "></td>
      </tr>
    </tbody>
  </table>
</body>

</html>