<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body
    style="
      margin: 0;
      background-color: <%= themePrimaryBackground %>;
      color: <%= themeText %>;
      padding: 0;
    "
  >
    <table cellpadding="0" cellspacing="0" width="100%" style="border: 0">
      <tbody>
        <!-- HEADER SECTION -->
        <tr>
          <%- include('../partials/header.template.ejs') %>
        </tr>
        <!-- MAIN CONTENT SECTION -->
        <tr>
          <%- include('../partials/main-content.template.ejs') %>
        </tr>
        <!-- FOOTER SECTION -->
        <tr>
          <%- include('../partials/footer.template.ejs') %>
        </tr>
      </tbody>
    </table>
  </body>
</html>
